body {
    font-family:Courier;   
}

h2, h3 {
    margin-top: -8px;
    text-align: center;
}

#tela-escura {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    color:white;
    display:none;
    padding: top 20px;;
    position:absolute;
    background:black;
}

.container {
    margin: 0 auto;
    max-width: 240px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(197, 9, 9);
    border: 2px solid black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.celula {
    width: 75px;
    height: 65px;
    font-size: 35pt;
    margin: 4px 2px;
    font-weight: 300pt;
    padding-top: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(39, 42, 42);
}